<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a>
        <span class="c-999 en">&gt;</span>
        <a onclick="goBack()" class="maincolor">上一页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">消息列表</span>
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr>
                    <th colspan="9" scope="col">消息列表</th>
                </tr>
                <tr class="text-c">
                    <th>发件人</th>
                    <th>接收人</th>
                    <th>内容</th>
                    <th>状态</th>
                    <th>读取时间</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                {{range .message}}
                <tr class="text-c">
                    <td>{{.From.Name}}</td>
                    <td>{{.To.Name}}</td>
                    <td class="text-overflow c-primary text-l" style="max-width: 100px"><a href="/message_info/{{.Id}}">{{stripTags .Content}}</a></td>
                    {{if .IsRead}}
                        <td>已读</td>
                        <td>{{date .ReadAt "Y-m-d H:i:s"}}</td>
                    {{else}}
                        <td class="c-danger">未读</td>
                        <td></td>
                    {{end}}
                    <td>{{date .Created "Y-m-d H:i:s"}}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </article>
    </div>
</section>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->
