<div class="page-container">
    <section class="Hui-article-box">
        <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a>
            <span class="c-999 en">&gt;</span>
            <a onclick="goBack()" class="maincolor">上一页</a>
            <span class="c-999 en">&gt;</span>
            <span class="c-666">移库请求</span>
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
        <br><br><br>
        <div class="page-container " style="width: 50%; margin: 0 auto;">
            <h1>移库请求</h1>

            <div style="text-align: left; padding: 10px 20px;border: 1px solid #666; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
                <ul>
                    <li>商品名称： {{.product.Title}}</li>
                    <li>商品货号： {{.product.ArtNum}}</li>
                    <li>商品规格： {{.product.Spec}}</li>
                    <li>商品库存： {{.product.Stock}}</li>
                    <li>库存单位： {{.product.Unit}}</li>
                </ul>
            </div>
            <form action="/move_request" method="post" class="form form-horizontal">
                {{ .xsrfdata }}
                <input type="hidden" name="product_id" value="{{.product.Id}}">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">起始库房：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="hidden" name="store_num" value="{{.store_num}}">
                        <input type="text" class="input-text radius" value="{{.store_at}}" name="store_from" readonly>
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2" for="move_to">目标库房：</label>
                    <div class="formControls col-xs-8 col-sm-9 store_spec">
                        <input type="text" class="input-text radius awesomplete" placeholder="检索"
                               data-list="{{.store_string}}" value="" id="move_to" name="move_to">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2" for="num">移库数量：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text radius" value="" id="num" name="num">
                    </div>
                </div>

                <div class="row c1" style="width: 60%; margin: 20px auto;">
                    <div>
                        <button class="btn btn-success btn-block radius">&nbsp; 提 &nbsp; 交 &nbsp;</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->