<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a>
        <span class="c-999 en">&gt;</span>
        <a onclick="goBack()" class="maincolor">上一页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">会员列表</span>
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <table class="table table-border table-bordered table-bg table-hover">
                <thead>
                <tr>
                    <th colspan="10" scope="col">人员列表</th>
                </tr>
                <tr class="text-c">
                    <th>姓名</th>
					{{if eq .grade "超级管理员"}}
						<th>用户名</th>
					{{end}}
                    <th>电话</th>
                    <th>职位</th>
                    <th>库房</th>
                    <th>账号</th>
					<th>状态</th>
                    <th class="hidden-xs">最后一次登陆时间</th>
                    <th class="hidden-xs">最后一次登陆ip</th>
                    <th class="hidden-xs">用户创建时间</th>
                </tr>
                </thead>
                <tbody>
                {{range .user}}
                    <tr class="text-c">
                        <td><a href="/admin_member_edit/{{.Id}}" class="c-primary">{{.Name}} <i class="Hui-iconfont Hui-iconfont-edit"></i></a></td>
						{{if eq $.grade "超级管理员"}}
							<td>{{.Username}}</td>
						{{end}}
                        <td>{{.Tel}}</td>
                        <td>{{.Position}}</td>
                        <td>{{.PoolName}}</td>

                        {{ if .IsActive }}
                        <td>正常</td>
                        {{ else }}
                        <td class="c-danger">未激活</td>
                        {{end}}
						{{if eq .Stage "离职"}}
						<td class="c-danger">{{.Stage}}</td>
						{{else}}
						<td>{{.Stage}}</td>
						{{end}}

						{{if eq (date .LastLogin "Y-m-d H:i:s") "0001-01-01 00:00:00"}}
                        <td class="hidden-xs"></td>
						{{else}}
						<td class="hidden-xs">{{date .LastLogin "Y-m-d H:i:s"}}</td>
						{{end}}


                        {{if eq .Ip ""}}
                        <td class="c-danger hidden-xs">未登陆过</td>
                        {{else}}
                        <td class="hidden-xs">{{.Ip}}</td>
                        {{end}}

                        <td class="hidden-xs">{{date .Created "Y-m-d H:i:s"}}</td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        </article>
    </div>
</section>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->
