<div class="page-container">
	<div style="width: 70%; margin: 0 auto;">
		<h1 class="text-c">模板信息录入</h1>
		<form action="" method="post" class="form form-horizontal formvalidte" id="form-article-add">
			{{.xsrfdata}}
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2" for="title"><span class="c-red">*</span>产品名称：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text radius" value="" placeholder="" id="title" name="title">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2" for="brand">品牌：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text radius awesomplete" placeholder="检索" data-list="{{.brand_string}}" id="brand" name="brand">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2" for="supplier">供应商：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" name="supplier" id="supplier-list" readonly class="input-text radius" style="width: 40%" placeholder="请使用右侧检索并添加供应商列表">
					<input type="text" class="input-text radius awesomplete" placeholder="检索" data-list="{{.supplier_string}}" value="" id="supplier">
					<a class="btn btn-success radius" onclick="AppendSupplier()">添加</a>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2" for="three_stage">三级分类：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text radius awesomplete" name="three_stage" autocomplete="on" placeholder="检索" data-list="{{.three_stage_string}}"
						   id="three_stage">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">sku信息：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text radius spec" value="" placeholder="货号" id="atr_num" name="atr_num" style="width: 25%">
					<input type="text" class="input-text radius spec" value="" placeholder="规格" id="spec" name="spec" style="width: 25%">
					<input type="text" class="input-text radius in_price" value="" placeholder="价格" id="in_price" name="in_price" style="width: 25%">
					<a class="btn btn-primary radius" id="add_spec" onclick="AddTemplateSku()">增加sku</a>
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">单位：</label>
				<div class="formControls col-xs-8 col-sm-9 mt-5 radios">
					<input type="radio" required name="unit" class="ml-5" value="箱" id="box"><label for="box">&nbsp;&nbsp;箱</label>
					<input type="radio" required name="unit" class="ml-5" value="瓶" id="bottle"><label for="bottle">&nbsp;&nbsp;瓶</label>
					<input type="radio" required name="unit" class="ml-5" value="个" id="individual"><label for="individual">&nbsp;&nbsp;个</label>
					<input type="radio" required name="unit" class="ml-5" value="盒" id="he"><label for="he">&nbsp;&nbsp;盒</label>
					<input type="radio" required name="unit" class="ml-5" value="袋" id="dai"><label for="dai">&nbsp;&nbsp;袋</label>
					<input type="radio" required name="unit" class="ml-5" value="支" id="branch"><label for="branch">&nbsp;&nbsp;支</label>
					<input type="radio" required name="unit" class="ml-5" value="台" id="tai"><label for="tai">&nbsp;&nbsp;台</label>
					<input type="radio" required name="unit" class="ml-5" value="包" id="bao"><label for="bao">&nbsp;&nbsp;包</label>
					<input type="radio" required name="unit" class="ml-5" value="套" id="tao"><label for="tao">&nbsp;&nbsp;套</label>
					<input type="radio" required name="unit" class="ml-5" value="卷" id="juan"><label for="juan">&nbsp;&nbsp;卷</label>
					<br>
					<input type="radio" required name="unit" class="ml-5" value="包" id="bag"><label for="bag">&nbsp;&nbsp;包</label>
					<input type="radio" required name="unit" class="ml-5" value="副" id="pair"><label for="pair">&nbsp;&nbsp;副</label>
					<input type="radio" required name="unit" class="ml-5" value="张" id="sheet"><label for="sheet">&nbsp;&nbsp;张</label>
					<input type="radio" required name="unit" class="ml-5" value="本" id="ben"><label for="ben">&nbsp;&nbsp;本</label>
					<input type="radio" required name="unit" class="ml-5" value="只" id="zhi"><label for="zhi">&nbsp;&nbsp;只</label>
					<input type="radio" required name="unit" class="ml-5" value="包" id="group"><label for="group">&nbsp;&nbsp;组</label>
					<input type="radio" required name="unit" class="ml-5" value="块" id="block"><label for="block">&nbsp;&nbsp;块</label>
					<input type="radio" required name="unit" class="ml-5" value="把" id="ba"><label for="ba">&nbsp;&nbsp;把</label>
					<input type="radio" required name="unit" class="ml-5" value="根" id="gen"><label for="gen">&nbsp;&nbsp;根</label>
					<input type="radio" required name="unit" class="ml-5" value="片" id="piece"><label for="piece">&nbsp;&nbsp;片</label>
				</div>
			</div>
			<br>
			<div class="row cl col-md-offset-2">
				<div class="formControls col-xs-8 col-sm-9">
					<input type="submit" class="btn btn-block btn-primary radius size-L" value="确 定 提 交">
				</div>
			</div>
		</form>
		<br><br><br><br><br><br>
	</div>
</div>
