<link rel="stylesheet" href="/static/css/paginator.css">
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a>
        <span class="c-999 en">&gt;</span>
        <a onclick="goBack()" class="maincolor">上一页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">销售列表</span>
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">

			<div style="width: 80%; margin: 0 auto 10px auto;">
				<div class="row cl"><input type="text" class="input-text mt-5 radius" name="title_filter" autocomplete="off" placeholder="商品名称" style="width: 15%">
					<input type="text" class="input-text mt-5 radius" name="art_num_filter" autocomplete="off" placeholder="货号" style="width: 15%">
					<input type="text" class="input-text mt-5 radius" name="brand_filter" autocomplete="off" placeholder="品牌" style="width: 15%">
					<input type="text" class="input-text mt-5 radius" name="consumer_filter" autocomplete="off" placeholder="客户" style="width: 15%">
					<input type="text" class="input-text mt-5 radius" name="salesman_filter" autocomplete="off" placeholder="业务员" style="width: 15%">
					<input type="text" class="input-text mt-5 radius" name="store_filter" autocomplete="off" placeholder="库房" style="width: 15%">
					<input type="text" class="input-text mt-5 radius" name="has_pay_filter" autocomplete="off" placeholder="是否收款(填yes或no)" style="width: 15%">
					<input type="text" class="input-text mt-5 radius" name="has_invioce_filter" autocomplete="off" placeholder="是否开发票(填yes或no)" style="width: 15%">
					<input type="text" class="input-text mt-5 radius" name="has_print_filter" autocomplete="off" placeholder="是否已打印出库单(填yes或no)" style="width: 15%">
					<input type="text" class="input-text mt-5 radius" name="date_start_filter" autocomplete="off" placeholder="日期起点" style="width: 15%" id="date_start_filter">
					<input type="text" class="input-text mt-5 radius" name="date_stop_filter" autocomplete="off" placeholder="日期终点" style="width: 15%" id="date_stop_filter">
					<a class="btn btn-primary radius mt-5 size-S filter_btn"> 检 索 </a>
					<span class="c-warning">不需要筛选的字段不要填写~</span>
				</div>
			</div>

            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr>
                    <th colspan="22" scope="col">销售列表</th>
                </tr>
                <tr class="text-c">
                    <th>商品名称 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
					<th>库房 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>货号 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>业务员 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>客户 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>进价 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>售价 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>品牌 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>规格 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>单位 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>数量 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>发货日期 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>含发票 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>发票号 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>开发票 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>送发票 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>收款 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>收款时间 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
					<th>备注 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>创建时间 <a class="sale_item_order btn size-MINI btn-success-outline radius" style="border: none;">&nbsp;<i class="Hui-iconfont Hui-iconfont-paixu"></i>&nbsp;</a></th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="sale">

                </tbody>
            </table>
        </article>

		<div class="text-c">
			<!--<input type="hidden" id="total_page" value="{{.total_page}}">-->
			<span class="dropDown page_size_btn" style="position: relative; top: -33px">
                <a class="dropDown_A btn btn-default radius" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >每页显示</a>
                <ul class="dropDown-menu menu radius box-shadow">
                    <li><a class="page_size" data="5">5条</a></li>
                    <li><a class="page_size" data="10">10条</a></li>
                    <li><a class="page_size" data="20">20条</a></li>
                    <li><a class="page_size" data="30">30条</a></li>
                    <li><a class="page_size" data="50">50条</a></li>
                    <li><a class="page_size" data="100">100条</a></li>
                </ul>
            </span>
			<ul class="pagination" id="sale_pagination"></ul>
			<a class="btn btn-primary radius load-more-template" style="position: relative; top: -35px">加载更多</a>
			<a class="btn btn-warning radius" href="/order_edit" style="position: relative; top: -35px">出库单</a>
		</div>

    </div>

	{{if .authority.EditSale}}
    <!--修改销售记录弹窗-->
    <div id="sale_edit_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top: 70px;">
        <div class="modal-dialog" style="width: 60%">
            <input type="hidden" name="sale_id">
            <div class="modal-content radius">
                <div class="modal-header">
                    <h3 class="modal-title">修改销售信息</h3>
                    <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
                </div>
                <div class="modal-body">
                    <form action="/sale_edit" method="post" class="form form-horizontal formvalidte" id="form-article-add">
                        {{.xsrfdata}}
                        <input type="hidden" name="sale_id" value="">

                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2" for="title"><span class="c-red">*</span>商品名称：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" class="input-text radius" id="title" readonly>
                            </div>
                        </div>

                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2" for="artnum"><span class="c-red">*</span>货号：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" class="input-text radius" id="artnum" name="artnum" readonly>
                            </div>
                        </div>

                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2" for="salesman"><span class="c-red">*</span>业务员：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" class="input-text radius" id="salesman" name="salesman">
                            </div>
                        </div>

                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2" for="consumer"><span class="c-red">*</span>客户：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" class="input-text radius" id="consumer" name="consumer" readonly>
                            </div>
                        </div>

                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2" for="inprice"><span class="c-red">*</span>进价：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" class="input-text radius" id="inprice" name="inprice" readonly>
                            </div>
                        </div>

                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2" for="outprice"><span class="c-red">*</span>售价：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" class="input-text radius" id="outprice" name="outprice">
                            </div>
                        </div>

                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2" for="num"><span class="c-red">*</span>数量：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" class="input-text radius" id="num" name="num">
                            </div>
                        </div>

                        <div class="row cl">
                            <label for="send" class="form-label col-xs-4 col-sm-2">发货日期:&nbsp;&nbsp;</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" id="send" class="input-text radius" value="" name="send" />
                            </div>
                        </div>

                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2">开具发票：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                        <span class="select-box radius" style="width: 21%;">
                            <select class="select" name="hasinvoice">
                                <option>请选择</option>
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </span>
                            </div>
                        </div>

                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2" for="invioce_num"><span class="c-red">*</span>发票编号：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" class="input-text radius" id="invioce_num" name="invioce_num">
                            </div>
                        </div>

                        <div class="row cl">
                            <label for="sendinvioce" class="form-label col-xs-4 col-sm-2">开票日期:&nbsp;&nbsp;</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" id="sendinvioce" class="input-text radius" value="" name="send_invioce" />
                            </div>
                        </div>

                        <div class="row cl">
                            <label for="getInvoice" class="form-label col-xs-4 col-sm-2">递交发票:&nbsp;&nbsp;</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" id="getInvoice" class="input-text radius" value="" name="get_invioce" />
                            </div>
                        </div>

                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2">接收汇款：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                        <span class="select-box radius" style="width: 21%;">
                            <select class="select" name="get_money">
                                <option>请选择</option>
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </span>
                            </div>
                        </div>

                        <div class="row cl">
                            <label for="getdate" class="form-label col-xs-4 col-sm-2">汇款日期:&nbsp;&nbsp;</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" id="getdate" class="input-text radius" value="" name="get_date" />
                            </div>
                        </div>

						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2" for="store"><span class="c-red">*</span>库房：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text" class="input-text radius" id="store" name="store">
							</div>
						</div>

						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">备注：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<textarea id="comment" class="textarea radius" placeholder="" rows="" cols="" name="comment"></textarea>
							</div>
						</div>
						<br>
                        <div class="modal-footer">
                            <button class="btn btn-primary">确定</button>
                            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
	{{else}}
	<div id="sale_edit_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top: 70px;">
		<div class="modal-dialog" style="width: 60%;">
			<div class="modal-content radius">
				<div class="modal-header">
					<h3 class="modal-title">警告消息</h3>
					<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
				</div>
				<div class="modal-body">
					<p class="c-danger f-20 text-c">您没有编辑销售记录的权限，如有需要请联系管理员~</p>
				</div>
			</div>
		</div>
	</div>
	{{end}}

</section>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
	var sale = {{.sale}}
</script>
<!--/请在上方写此页面业务相关的脚本-->
