<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a>
        <span class="c-999 en">&gt;</span>
        <a onclick="goBack()" class="maincolor">上一页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">添加客户信息</span>
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <br><br><br>
    <h2 class="text-c col-md-pull-1">添加客户信息</h2>
    <div class="page-container col-md-offset-2">
        <form action="" method="post" class="form form-horizontal formvalidte">
            {{ .xsrfdata }}
            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-2" for="name"><span class="c-red">*</span>姓名：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text radius col-md-1 col-sm-10" value="" placeholder="" id="name" name="name">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-2" for="tel"><span class="c-red">*</span>电话：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text radius" value="" placeholder="" id="tel" name="tel">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-2" for="department"><span class="c-red">*</span>单位：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text radius" value="" placeholder="" id="department" name="department">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-2" for="department"><span class="c-red">*</span>地区：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <div id="prov" style="width: 50%;"></div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-2" for="introduction"><span class="c-red">*</span>备注：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text radius" value="" placeholder="" id="introduction" name="introduction">
                </div>
            </div>
            <div class="row c1">
                <div class="text-c">
                    <button class="btn btn-success radius">&nbsp; 提 &nbsp; 交 &nbsp;</button>
                </div>
            </div>
        </form>
    </div>
</section>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->
